<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylescart.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>cebrama home&deco </title>
</head>

<body>
    <!-- Header Section -->

    <%- include('./partials/headerSection') %>

        <main>
            <div class="div-todo">
                <div class="div-all">
                    <section class="sectionmainconcarrousel div-tranform">
                        <div class="contain">
                            <div class="row">
                                <div class="carr">
                                    <div class="grande">
                                        <img src="/img/lata.jpeg" alt="img1" class="img" id="img1">
                                        <img src="/img/mateava.jpeg" alt="img2" class="img" id="img2">
                                        <img src="/img/manopla.jpeg" alt="img3" class="img" id="img3">
                                    </div>
                                    <ul class="puntos">
                                        <li class="punto"></li>
                                        <li class="punto"></li>
                                        <li class="punto"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="burguermenuparacelus div-tranform">
                        <div class="burger-menu">
                            <i class="fas fa-bars"></i>
                        </div>
                    </section>
                    <section class="secctionconsearchnav div-tranform">
                        <header class="headerdelsection">
                            <i class="fa-solid fa-list"> Todas las categorias</i>
                        </header>
                        <div class="divconnav">
                            <nav>
                                <ul>
                                    <% for(let i=0; i < categorias.length; i++) {%>
                                        <li>
                                            <a href="/products/category/ <%= categorias[i].id %>">
                                                <%= categorias[i].name %>
                                            </a>
                                        </li>
                                        <%}%>
                                </ul>
                            </nav>
                        </div>
                    </section>
                    <section class="secctionsconarticles div-contenedor">
                        <div class="div-contenido space">
                            <header class="headerdelsectiondelmain">
                                <h2>Nuestros productos</h2>
                            </header>

                            <% for(let i=0; i < productos.length; i++) {%>
                                <article class="article-productos">
                                    <% if (locals.isLogged) { %>
                                        <p id="userid" class="pid">
                                            <%= locals.userLogged.id %>
                                        </p>
                                        <%} else {%>
                                            <p id="userid" class="pid"></p>
                                            <%}%>
                                                <div class="infodetail">
                                                    <a href="/product/<%=productos[i].id %> ">
                                                        <figure class="imgarticle">
                                                            <img id="img-src" src=/img/<%=productos[i].image %> alt="">
                                                        </figure>
                                                        <div class="divcontodaladescripcion">
                                                            <h2 class="titledescription">
                                                                <%= productos[i].name %>
                                                            </h2>
                                                        </div>
                                                        <div class="div-precio-carrito">
                                                            <p id="pid" class="pid">
                                                                <%= productos[i].id %>
                                                            </p>
                                                            <p id="price">
                                                                $<%= productos[i].price %>
                                                            </p>
                                                            <a id="button-cartt"><i
                                                                    class="fa-solid fa-cart-shopping"></i></a>
                                                        </div>
                                                    </a>
                                                </div>
                                </article>
                                <%}%>

                        </div>

                    </section>

                </div>

            </div>

        </main>

        <!-- Footer Section -->

        <%- include('./partials/footerSection') %>
            <script src="/js/logged.js"></script>
            <script src="/js/cart.js"></script>
            <script src="/js/carrousel.js"></script>
            <script src="/js/categorieslist.js"></script>
            <script src="/js/emailalerts.js"></script>
</body>

</html>