<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesformcreate.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylescart.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Creá tu producto</title>
</head>

<body>
    <%- include('./partials/headerSection') %>
        <main>
            <section class="section-form">
                <div class="containerr products-wrapper">
                    <div class="row">
                        <div class="header-header">
                            <h2 class="products-title">Estás editando: <i>
                                    <%= productos.name %>
                                </i></h2>
                        </div>
                    </div>
                    <div class="div-form">
                        <form id="formCreate" action="/products/<%= productos.id %>/edit?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <div class="product-form">
                                <div class="div-tranform">
                                    <label for="id" class="form-label">Id:</label>
                                    <input type="text" id="id" name="id" readonly="true" class="input-form"
                                        value="<%= productos.id %>">
                                </div>
                                <div class="div-tranform">
                                    <label for="name" class="form-label">Nombre del producto:</label>
                                    <input type="text" id="name" name="name" class="input-form"
                                        value="<%= productos.name %>">
                                    <div class="text-danger" id="nameError"></div>
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="text-danger">
                                            <%= errors.name.msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <div class="div-tranform">
                                    <label for="price" class="form-label">Precio del producto:</label>
                                    <input type="text" id="price" name="price" class="input-form"
                                        value="<%= productos.price %>">
                                    <div class="text-danger" id="priceError"></div>
                                    <% if (locals.errors && errors.price) { %>
                                        <div class="text-danger">
                                            <%= errors.price.msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <div class="div-tranform">
                                    <label for="category" class="form-label">Categoría:</label>
                                    <select name="category" id="category_id" class="input-form">
                                        <% for( let i=0; i < categorias.length; i++ ) { %>
                                            <% if (categorias[i].id==productos.category_id) { %>
                                                <option value="<%= categorias[i].id %>" selected>
                                                    <%= categorias[i].name %>
                                                </option>
                                                <% } else {%>
                                                    <option value="<%= categorias[i].id %>">
                                                        <%= categorias[i].name %>
                                                    </option>
                                                    <% } %>

                                                        <% } %>

                                    </select>
                                    <div class="text-danger" id="categoryError"></div>
                                    <% if (locals.errors && errors.category) { %>
                                        <div class="text-danger">
                                            <%= errors.category.msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <div class="div-tranform">
                                    <label for="image" class="form-label">imagen:</label>
                                    <input type="file" id="image" name="image" class="input-form imputing"
                                        value="<%= productos.image %>">
                                </div>
                                <div class="div-tranform">
                                    <label for="description" class="form-label">Descripción:</label>
                                    <textarea name="description" id="description"
                                        class="input-form"><%= productos.description %></textarea>
                                    <div class="text-danger" id="descriptionError"></div>
                                    <% if (locals.errors && errors.description) { %>
                                        <div class="text-danger">
                                            <%= errors.description.msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <div class="divconboton" class="div-tranform">
                                    <button id="button-submit" type="submit">Guardar producto</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>

        </main>
        <%- include('./partials/footerSection') %>
            <script src="/js/productsforms.js"></script>
</body>

</html>