<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/productdetailstyles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>Detalle producto</title>
</head>

<body>

  <%- include('./partials/headerSection') %>
    <main>
      <div class="div-h2-main">
        <h2><%= oneproduct.name %>  </h2>
      </div>
      <section class="section-article">
        <article class="article-product">
          <div>
            <img src='<%= oneproduct.image %>'  alt="" class="img-product">
            <div>
              <p>
                <%= oneproduct.description %> 
              </p>
            </div>
          </div>
        </article>
        <div class="div-detail">
          <h2><%= oneproduct.name%></h2>
          <P>$<%= oneproduct.price %> </P>
          <a href="" class="button-buy">comprar</a>
          <a href="" class="button-edit">editar</a>
          <form action="/?_method=DELETE" method="POST" class="form-delete" >
            <button type="submit" class="button-delete">eliminar</button>
          </form>
        </div>
      </section>

    </main>

    <%- include('./partials/footerSection') %>
</body>

</html>