<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/stylescart.css">
  <link rel="stylesheet" href="/css/productdetailstyles.css">
  <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>Detalle producto</title>
</head>

<body>

  <%- include('./partials/headerSection') %>
    <main>
      <div class="div-h2-main">
        <h2>
          <%= oneproduct.name %>
        </h2>
      </div>
      <div class="div-contenedor">
        <div class="div-contenido ">
          <% if (locals.isLogged) { %>
            <p id="userid" class="pid">
              <%= locals.userLogged.id %>
            </p>
            <%} else {%>
              <p id="userid" class="pid"></p>
              <%}%>
                <article class="article-product">
                  <div class="div-img-article">
                    <img id="imgdetail" src='/img/<%= oneproduct.image %>' alt="" class="img-product">
                    <div class="div-break">
                      <p>
                        <%= oneproduct.description %>
                      </p>
                    </div>
                  </div>
                </article>
                <div class="div-detail">
                  <h2 id="namedetail">
                    <%= oneproduct.name%>
                  </h2>
                  <P id="pricedetail">
                    $<%= oneproduct.price %>
                  </P>
                  <p id="pid" class="pid">
                    <%= oneproduct.id %>
                  </p>
                  <a id="button-cartts" class="button-buy">comprar</a>
                  <a href="/products/<%= oneproduct.id %>/edit" class="button-edit">editar</a>
                  <form action="/products/<%= oneproduct.id %>?_method=DELETE" method="POST" class="form-delete">
                    <button type="submit" class="button-delete">eliminar</button>
                  </form>
                </div>

        </div>
      </div>


    </main>

    <%- include('./partials/footerSection') %>
      <script src="/js/cart.js"></script>
</body>

</html>