<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesformcreate.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylescart.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Creá tu producto</title>
</head>

<body>
    <%- include('./partials/headerSection') %>
        <main>
            <section class="section-form">

                <div class="header-header">
                    <section class="section-header">
                        <h2>Crear producto</h2>
                    </section>
                </div>
                <div class="div-form">
                    <form id="formCreate" action="/products/create" method="POST" enctype="multipart/form-data">
                        <div class="product-form">
                            <div class="div-tranform">
                                <label for="name">Nombre del producto:</label>
                                <input type="text" id="name" name="name" class="input-form">
                                <div class="text-danger" id="nameError"></div>
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger">
                                        <%= errors.name.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="div-tranform">
                                <label for="price">Precio del producto:</label>
                                <input type="number" id="price" name="price" class="input-form">
                                <div class="text-danger" id="priceError"></div>
                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="div-tranform">
                                <label for="image">imagen :</label>
                                <input type="file" id="image" name="image" class="input-form imputing">
                                <% if (locals.errors && errors.image) { %>
                                    <div class="text-danger">
                                        <%= errors.image.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="div-tranform">
                                <label for="Category">Categoria del producto:</label>
                                <select name="category" id="category_id" class="input-form">
                                    <option value="" disabled selected>- Seleccione la categoria - </option>
                                    <% for( let i=0; i < categorias.length; i++ ) { %>
                                        <option value="<%= categorias[i].id %>">
                                            <%= categorias[i].name %>
                                        </option>

                                        <% } %>

                                </select>
                                <div class="text-danger" id="categoryError"></div>
                                <% if (locals.errors && errors.category) { %>
                                    <div class="text-danger">
                                        <%= errors.category.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="div-tranform">
                                <label for="description"> descripcion :</label>
                                <textarea name="description" id="description" class="input-form"></textarea>
                                <div class="text-danger" id="descriptionError"></div>
                                <% if (locals.errors && errors.description) { %>
                                    <div class="text-danger">
                                        <%= errors.description.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="divconboton" class="div-tranform">
                                <button id="button-submit" type="submit"> continuar </button>
                            </div>
                        </div>

                    </form>
                </div>
            </section>




        </main>
        <%- include('./partials/footerSection') %>
        <script src="/js/productsforms.js"></script>
        <script src="/js/emailalerts.js"></script>
</body>

</html>