<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesregister.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylescart.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>registro</title>
</head>
<body>
    <!-- Header Section -->

    <%- include('./partials/headerSection')  %>
    
    <main>
        <section>
           
            <header>
                <section class="sectiondelheader">
                    <i class="fa-solid fa-user">  registrarse</i>
                </section>
            </header>
            <ul class="errores" id="errores"></ul>

            <form action="/register" method="POST" enctype="multipart/form-data" id="form" >
                
                <div>
                    <label for="usuario">Nombre:</label>
                    <input type="text" name="firstName" id="firstName" class="form-input"  value="<%= locals.old ? old.firstName : null %>">
                    <% if ( locals.errors && errors.firstName) { %>
                        <div class="tomato">
                            <%= errors.firstName.msg %>
                        </div>
                        <% } %>
                </div>
                <div>
                    <label for="usuario">Apellido:</label>
                    <input type="text" name="lastName" id="lastName" class="form-input"  value="<%= locals.old ? old.lastName: null %>">
                    <% if ( locals.errors && errors.lastName) { %>
                        <div class="tomato">
                            <%= errors.lastName.msg %>
                        </div>
                        <% } %>
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <input type="text" name="email" id="mail"  class="form-input"  value="<%= locals.old ? old.email : null %>">
                    <% if ( locals.errors && errors.email) { %>
                        <div class="tomato">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </div>
                <div>
                    <label for="contraseña">contraseña :</label>
                    <input type="password" name="password" id="password"  class="form-input"  value="<%= locals.old ? old.password : null %>">
                    <% if ( locals.errors && errors.password) { %>
                        <div class="tomato">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </div>
                <div>
                    <label for="imagen"> Avatar</label>
                    <input type="file" name="image" id="imagen"  class="form-input" >
                    <% if ( locals.errors && errors.image) { %>
                        <div class="tomato">
                            <%= errors.image.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="divconboton">
                    <button type="submit" id="buttonContinued"> continuar </button>
                </div>
            </form>
            <div class="divpararevisar">
                <a href="#">revise su casilla de correo electronico para terminar con el registro</a>
            </div>
        </section>
        
    </main>
    <!-- Footer Section -->

    <%- include('./partials/footerSection')  %>
    <script src="/js/register.js"></script>     
</body>
</html>